<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oodiet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oodiet">
        <activity
            android:name=".LogoutActivity2"
            android:exported="false" />
        <activity
            android:name=".ui.Artikel3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Artikel2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Artikel1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Isiworkout4Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Isiworkout3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Isiworkout2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Isiresipe5Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Isiresipe4Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Isiresipe3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Isiresipe2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Isiworkout1Activity"
            android:exported="false" />
        <activity
            android:name=".IsiresipeActivity"
            android:exported="false" />
        <activity
            android:name=".CreateActivity"
            android:exported="false"
            android:label="@string/title_activity_create"
            android:theme="@style/Theme.Oodiet.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>